{  "extends": [    "react-app",    "react-app/jest"  ],  "plugins": [    "sort-keys-fix"  ],  "rules": {    "no-console": "warn",    "prefer-const": "warn",    "quotes": ["warn", "double"],    "semi": ["warn" , "always"],    "react-hooks/exhaustive-deps": "off",    "comma-dangle": ["error", "always-multiline"],    "import/order" : [      "error",      {        "groups" :  ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],        "newlines-between": "always-and-inside-groups"      }    ],    "import/no-cycle": "error",    "import/no-useless-path-segments": ["error", {      "noUselessIndex": true    }],    "sort-keys-fix/sort-keys-fix": "warn"  }}